@import '../../styles/colors';
@import '../../styles/fonts';

.inputComponentDiv {
  width: 100%;
  padding: 64px 12px 0;
}

.inputComponentLabel {
  font-family: $font-family-principal;
  font-weight: bold;
  font-size: 0.8rem;
  color: $fonte-cor-primaria;
}

.inputComponentInput {
  border: none;
  border-bottom: 0.5px solid $fonte-cor-primaria;
  width: 100%;
  padding: 8px;
  background-color: $background-pages-default;
}
