@import '../../styles/colors';
@import '../../styles/fonts';

.forgetPasswordPageMain {
  width: 100%;
  background: $background-pages-default;
}

.forgetPasswordPageHeader {
  width: 100%;
  height: 325px;
  background-image: url('../../assets/imgForgotPassword.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  position: relative;
}

.forgetPasswordPageArrow {
  display: flex;
  align-self: flex-start;
  cursor: pointer;
  position: absolute;
  padding: 4px 0;
}

.forgetPasswordPagePageMail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forgetPasswordPageEnvelope {
  padding-bottom: 8px;
}

.forgetPasswordPageH2 {
  font-size: 2rem;
  font-family: $font-family-principal;
  color: $fonte-cor-secundaria;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}

.forgetPasswordPageinputsBox{
  padding: 16px;
}

.inputsBoxContainer{
  height: 100%;
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.forgetPasswordPageButton {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

.forgetPasswordPageContent,
.forgetPasswordPageDesktopArrow{
  display: none;
}

@media (min-width: 576px) { 
  .forgetPasswordPageinputsBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .inputsBoxContainer{
    width: 100%
  }
}

@media (min-width: 768px) {
  .forgetPasswordPageMain {
    min-height: 100vh;
    background-image: url('../../assets/forgot-password-photo-bg.png');
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .forgetPasswordPageHeader{
    background-image: unset;
    width: 0%;
  }

  .forgetPasswordPageEnvelope,
  .forgetPasswordPageH2,
  .forgetPasswordPageArrowLeft{
    display: none;
  }

  .forgetPasswordPageinputsBox{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: $background-pages-default;
    height: 80vh;
    border-radius: 8px;
    padding-top: 48px;
  }

  .forgetPasswordPageDesktopArrow{
    display: flex;
    align-self: flex-start;
  }

  .inputsBoxContainer{
    display: flex;
    padding: 0 48px;
  }

  .forgetPasswordPageContent{
    display: flex;
    flex-direction: column;
  }
  
  .forgetPasswordPageDesktopContentH2 {
    font-family: $font-family-principal;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .forgetPasswordPageDesktopContentP {
    font-family: $font-family-principal;
    letter-spacing: 1px;
  }
}

@media (min-width: 992px) {
  .forgetPasswordPageinputsBox {
    width: 45%;
  }
}