@import '../../styles/colors';
@import '../../styles/fonts';

.forgetPasswordPageImg {
  background-image: url('../../assets/imgForgotPassword.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.forgetPasswordPageMain {
  width: 100%;
  background: $background-pages-default;
}

.forgetPasswordPageDesktopContentContainer {
  display: none;
}

.forgetPasswordPageForgetPasswordP {
  font-family: $font-family-principal;
  font-size: 0.7rem;
  align-self: center;
}

.forgetPasswordForgetPasswordP:hover {
  cursor: pointer;
}

.forgetPasswordPageReturnPage {
  width: 100%;
  height: 72px;
  display: flex;
  align-items: flex-end;
  padding-left: 24px;
}

.forgetPasswordPageArrow {
  cursor: pointer;
}

.forgetPasswordPagePageMail {
  width: 100%;
  height: calc(350px - 72px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgetPasswordPageEnvelope {
  padding-top: 40px;
}

.forgetPasswordPageH1 {
  font-size: 2rem;
  font-family: $font-family-principal;
  color: $fonte-cor-secundaria;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}

.forgetPasswordPageButton {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 64px;
}

.forgetPasswordPageForm{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

.forgetPasswordPageinputsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgetPasswordPageReturnPageDesktop {
  display: none;
}

.forgetPasswordPageFormContainer{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 576px) { 
  .forgetPasswordPageinputsBox {
    display: flex;
    min-width: 500px;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-top: 24px;
  }
}

@media (min-width: 768px) {
  .forgetPasswordPageMain {
    min-height: 100vh;
    background-image: url('../../assets/forgot-password-photo-bg.png');
    object-fit: cover;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .forgetPasswordPageReturnPageDesktop {
    display: flex;
    position: absolute;
    cursor: pointer;
    left: 24px;
  }

  .forgetPasswordPageImg{
    background-image: unset;
    width: 0%;
  }

  .forgetPasswordPageEnvelope,
  .forgetPasswordPageH1,
  .forgetPasswordPageArrowLeft{
    display: none;
  }

  .forgetPasswordPageDesktopReturnPage{
    width: 10%;
    height: 100%;
    padding-top: 40px;
    padding-left: 24px;
  }

  .forgetPasswordPageDesktopArrowLeft {
    display: none;
  }
  
  .forgetPasswordPageDesktopContentContainerP {
    font-family: $font-family-principal;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .forgetPasswordPageDesktopContentContainerSpan {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-bottom: 40px;
    justify-content: center;
  }
  
  .forgetPasswordPageDesktopContentContainerSpanP,
  .forgetPasswordPageDesktopContentContainerSpanPP {
    font-family: $font-family-principal;
    letter-spacing: 1px;
    font-size: 0.8rem;
  }
  
  .forgetPasswordPageDesktopContentContainerSpanPP {
    font-weight: 700;
  }
  
  .forgetPasswordPageDesktopContentContainer {
    display: block;
  }
  
  .forgetPasswordPageinputsBox{
    width: 50%;
    background-color: $background-pages-default;
    height: 80vh;
    border-radius: 5px;
  }

  .forgetPasswordPageDesktopHeader{
    display: flex;
  }
}

@media (min-width: 992px) {
  .forgetPasswordPageinputsBox {
    width: 40%;
    display: flex;
  }
}