@import '../../styles/colors';
@import '../../styles/fonts';

.avatarComponentInfoContainer {
  width: 100%;
  padding: 4px;
}

.avatarComponentInfoContainerNome,
.avatarComponentProfileRedirect {
  font-family: $font-family-principal;
  color: $fonte-cor-secundaria;
}

.avatarComponentInfoContainerNome {
  font-weight: 700;
}

.avatarComponentProfileRedirect {
  font-weight: 300;
  border-bottom: 1px solid $fonte-cor-secundaria;
  line-height: 20px;
  cursor: pointer;
}
