@import "../../styles/colors";
@import "../../styles/fonts";

.loginPageMain {
  width: 100%;
  background-color: $background-pages-default;
}

.loginPageImg {
  width: 100%;
  height: 181px;
  background-image: url("../../assets/imgLogin.png");
  object-fit: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPageH1 {
  font-size: 1rem;
  font-family: $font-family-principal;
  color: $fonte-cor-secundaria;
  padding: 8px;
}

.loginPageForgetPasswordP {
  font-family: $font-family-principal;
  font-size: 0.7rem;
  padding: 12px 12px;
}

.loginPageLoginButton {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 12px;
}