@import '../../styles/colors';
@import '../../styles/fonts';

.contaPageMain {
  width: 100%;
  min-height: 100vh;
  background-color: $background-pages-default;
}

.contaPageProfile{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 24px;
    gap: 16px;
    z-index: 1;
}

.contaPagePhoto{
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $background-banner;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.contaPageInputPhoto{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 5;
}

.contaPageSelectedPhoto{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    cursor: pointer;
}

.contaPagePhotoWrapper{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.contaPagePhoto:hover .contaPageUserIcon,
.contaPageSelectedPhoto:hover .contaPagePhotoWrapper{
    filter: brightness(0.5);
    transition: 0.3s;
}

.contaPageChangePhoto{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.5vh;
}

.contaPagePhoto:hover .contaPageChangePhoto,
.contaPageSelectedPhoto:hover .contaPageChangePhoto {
    display: flex;
}

.contaPageUserIcon{
    font-size: 7vh;
} 

.contaPageUserData{
    font-family: $font-family-principal;
    font-weight: 700;
    font-size: 1.5rem;
}

.contaPageError{
  font-family: $font-family-principal;
  font-size: 0.7rem;
}

.contaPageData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 16px;
}

.contaPageButton{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

@media (min-width: 576px) {
    .contaPageData{
        padding: 48px;
    }
}

@media (min-width: 768px) {
    .contaPageMain{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .contaPageProfile,
    .contaPageData{
        width: 90%;
        display: flex;
        justify-content: center;
    }

    .contaPageUserIcon{
        font-size: 10vh;
    }

    .contaPageChangePhoto{
        font-size: 5vh;
    }

    .contaPageData{
        gap: 16px;
    }

    .contaPageProfile{
        margin-top: 48px;
    }

    .contaPagePhoto{
        width: 150px;
        height: 150px;
    }

    .contaPageButton{
        width: 70%;
        display: flex;
        justify-content: center;
        align-self: center;
    }
}

@media (min-width: 992px) {
    .contaPageProfile,
    .contaPageData{
        width: 70%;
    }

    .contaPageUserIcon{
        font-size: 12vh;
    }

    .contaPagePhoto{
        width: 170px;
        height: 170px;
    }

    .contaPageButton{
        width: 50%;
    }
}