@import '../../styles/colors';
@import '../../styles/fonts';

* {
  outline: none;
}

.helpRequestPageMain{
  width: 100%;
  min-height: 100vh;
  background: $background-page-help;
}

.helpRequestPageLeft{
  height: 100%;
  width: 33.3%;
}

.helpRequestPageHeader{
  width: 100%;
  display: flex;
  justify-content: center;
}

.helpRequestPageMenu{
  margin-top: 16px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.helpRequestPageLogoImg{
  width: 88px;
  height: 24px;
}

.helpRequestPageClose{
  cursor: pointer;
}

.helpRequestHome{
  width: 100%;
}

.helpRequestHomeMenu{
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
  padding-top: 8px;
}

.helpRequestHomeMenuH1,
.helpRequestHomeCategoriesH2,
.helpRequestHomeMenuH3{
  font-size: 2rem;
  font-weight: 700;
  font-family: $font-family-principal;
  color: $fonte-cor-secundaria;
  width: 90%;
}

.helpRequestHomeMenuBanner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  height: 120px;
}

.helpRequestHomeTextArea,
.helpRequestHomeMenuBanner{
  background-color: $background-disable-default;
  border-radius: 8px;
  width: 90%;
}

.helpRequestHomeTextArea{
  padding: 8px;
  padding-top: 12px;
  resize: none;
  color: $fonte-cor-primaria;
  font-weight: 400;
  font-family: $font-family-text-area;
  font-size: 0.8rem;
  height: 60px;
}

.helpRequestHomeMenuBannerInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.helpRequestHomeMenuBannerP{
  font-size: 1rem;
  font-weight: 700;
  font-family: $font-family-principal;
  color: $fonte-cor-primaria;
}

.helpRequestHomeCategoriesContainer{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.helpRequestHomeCategoriesDiv{
  display: flex;
  flex-direction: row;
  padding-bottom: 4px;
  font-family: $font-family-principal;
  color: $fonte-cor-secundaria;
  gap: 4px;
  font-weight: 700;
  font-size: 0.7rem;
}

.helpRequestHomeDescription,
.helpRequestHomeH,
.helpRequestHomeCategories,
.helpRequestPage{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.helpRequestPageForm{
  width: 100%;
  display: flex;
  align-self: center;
  justify-content: center;
  padding-bottom: 24px;
  padding-top: 8px;
}

.requestHelpHomeButton{
  width: 60%;
  display: flex;
  justify-content: center;
  padding: 8px;
}

.helpRequestHomeH,
.helpRequestHomeCategories,
.helpRequestHomeDescription{
  padding: 8px 0;
}

@media (min-width: 576px) {
  .helpRequestHomeTextArea {
    height: 60px;
  }

  .helpRequestHomeMenuBanner{
    height: 150px;
  }
}

@media (min-width: 768px) {
  .helpRequestHomeMenuBanner {
    height: 150px;
  }

  .helpRequestHomeTextArea {
    height: 80px;
  }

  .requestHelpHomeButton{
    width: 50%;
  }

  .helpRequestHomeCategoriesDiv{
    font-size: 1rem;
  }
  
  .requestHelpHomeButton{
    min-width: 40%;
  }
  .helpRequestPageMain{
    display: flex;
  }
  .helpRequestLeft,
  .helpRequestHomePage{
    width: 33.3%;
  }
}

@media (min-width: 992px) {
  .helpRequestHomeMenuBanner {
    height: 180px;
  }

  .helpRequestHomeTextArea{
    height: 100px;
  }

  .requestHelpHomeButton{
    max-width: 40%;
  }
}