@import '../../styles/colors';
@import '../../styles/fonts';

.changePasswordMain {
    width: 100%;
    min-height: 100vh;
    background: $background-pages-default;
  }

.changePasswordNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    padding-bottom: 64px;
}

.changePasswordNavIcon{
  font-size: 5vh;
}

.changePasswordNavIcon:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.changePasswordP{
  font-family: $font-family-principal;
  color: $fonte-cor-primaria;
  font-size: 1rem;
  font-weight: bold;
}

.changePasswordMail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 32px;
}

.changePasswordMailIcon{
  font-size: 10vh;
}

.changePasswordMailP{
  font-family: $font-family-principal;
  color: $fonte-cor-primaria;
  font-size: 1.5rem;
  font-weight: bold;
}

.changePasswordForm{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.changePasswordPageButton{
  display: flex;
  justify-content: center;
  padding-top: 64px;
}

@media (min-width: 576px){
  .changePasswordPage{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .changePasswordNav,
  .changePasswordMail,
  .changePasswordForm{
    width: 90%;
  }
}

@media (min-width: 768px) {
  .changePasswordNav,
  .changePasswordMail,
  .changePasswordForm{
    width: 80%;
  }

  .changePasswordNavIcon{
    font-size: 7vh;
  }

  .changePasswordP{
    font-size: 1.2rem;
  }

  .changePasswordMail{
    padding-top: 32px;
    padding-bottom: 56px;
  }

  .changePasswordMailIcon{
    font-size: 15vh;
  }

  .changePasswordMailP{
    font-size: 2rem;
  }

  .changePasswordPageButton{
      width: 70%;
      display: flex;
      justify-content: center;
      align-self: center;
      padding-top: 72px;
  }
}

@media (min-width: 992px) {
  .changePasswordNav,
  .changePasswordMail,
  .changePasswordForm{
    width: 70%;
  }

  .changePasswordPageButton{
    width: 50%;
  }
}